*{
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;

    box-sizing: border-box;
    outline: none;

    font-family: sans-serif;
    transition: 0.3s all ease-in-out;
}

:root{
    --corTxt: #FFF;
    --corTxt2: #000;

    --corFundo: #fff;
    --corFundo2: #F9F9F9;
    --sombra: 0px 0px 4px 3px rgba(116, 116, 116, 0.5);
}

body{
    width: 100%;
    height: 100vh;
    background: var(--corFundo);
    color: var(--corTxt2);
}

nav{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    height: 75px;
    background: var(--corFundo2);
    border-radius: 0px 0px 20px 20px;
    box-shadow: var(--sombra);
    color: var(--corTxt2);
    position: fixed;
}
.nav-header{
    padding-left: 35px;
}

.nav-links{
    margin: 0 auto;
}

.nav-links a{
    color: var(--corTxt2);
    padding: 12px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    border-radius: 15px;
    &:hover{
        background: rgba(116, 116, 116, 0.1);
        color: var(--corTxt);
    }
}

.container-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 105px;
    width: 90%;
    height: 100%;
    gap: 35px;
}

.sec-header{
    display: flex;
    align-items: center;
    padding: 15px;
    width: 80%;
    border-radius: 10px;
    border-bottom: 2px solid var(--corTxt2);
    gap: 20px;
    font-weight: bold;
}

.sec-header-icone{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: linear-gradient(125deg, #aaaaaa 0%, #dfdfdf 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}

.sec-infos{
    width: 75%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.caixas-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
    width: 30%;
    height: 150px;
    border-radius: 15px;
    border-bottom: 4px solid var(--corTxt2);
    background: var(--corFundo2);
    color: var(--corTxt2);
    &:hover{
        background: var(--corTxt2);
        color: var(--corTxt);
        border-color: var(--corTxt);
        box-shadow: var(--sombra);
    }
}

form{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 520px;
    background: var(--corFundo2);
    border-radius: 15px;
    color: var(--corTxt2);
    box-shadow: var(--sombra);
    padding: 15px;
}

form fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: none;
    gap: 15px;
    font-weight: bold;
}

form fieldset legend{
    font-size: 20px;
    width: 90%;
    display: flex;
    padding: 10px;
    border-bottom: 2px solid var(--corTxt2);
}

.caixa-input{
    display: grid;
    grid-template-columns: 100px 1fr;
    width: 100%;    
    border: none;
    align-items: center;
}

.caixa-input{
    padding: 15px;
}

.caixa-input input, .caixa-input select{
    border: none;
    border-bottom: 2px solid var(--corFundo);
    padding: 10px;
    border-radius: 7px;
    background: none;
    font-size: 15px;
    &::placeholder{
        color: #999999dd;
    }
    &:focus{
        box-shadow: 0px 1px 5px 3px rgba(25,25,25,0.5);
    }
}

.caixa-input select:focus{
    background: var(--corTxt2);
    color: var(--corTxt);
    box-shadow: unset;
}

.tabela-aqui{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    border: 2px solid var(--corTxt2);
    border-radius: 15px;
    padding: 15px;
}

table{
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}