*{
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;

    box-sizing: border-box;
    outline: none;

    font-family: sans-serif;
    transition: 0.3s all ease-in-out;
}

:root{
    --corTxt: #FFF;
    --corTxt2: #000;

    --corFundo: #f5f5f5;
    --corFundo2: #F9F9F9;
    --sombra: 0px 0px 4px 3px rgba(116, 116, 116, 0.5);

    --destaque: #ffd000;
    --destaque2: #cca701;
    --destaqueTab: rgba(235, 216, 129, 0.2);
    --sombra2: 0px 0px 4px 3px #ffd00049;

    --sucesso: #44fa33;
    --erro: #fa3333;
}

body{
    width: 100%;
    height: 100vh;
    background: var(--corFundo);
    color: var(--corTxt2);
    display: flex;
    justify-content: center;
}

nav{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    height: 75px;
    background: var(--corFundo2);
    border-radius: 0px 0px 20px 20px;
    box-shadow: var(--sombra);
    color: var(--corTxt2);
    position: fixed;
    z-index: 2;
}
.nav-header{
    padding-left: 35px;
    border-right: 2px solid #999999dd;
    padding-right: 35px;
}

.nav-links{
    padding-right: 35px;
}

.nav-links a{
    color: var(--corTxt2);
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    border-radius: 15px;
    &:hover{
        background: rgba(116, 116, 116, 0.1);
        color: var(--destaque);
    }
}

.nav-links a.ativo{
    color: var(--destaque);
    background: rgba(116, 116, 116, 0.1);
}

.container-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 105px;
    width: 90%;
    height: 100%;
    gap: 35px;
}

.sec-header{
    display: flex;
    align-items: center;
    padding: 15px;
    width: 80%;
    border-radius: 10px;
    border-bottom: 2px solid var(--destaque);
    gap: 20px;
    font-weight: bold;
}

.sec-header-icone{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: linear-gradient(125deg, #aaaaaa 0%, #dfdfdf 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}

.sec-infos{
    width: 75%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.caixas-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
    width: 30%;
    height: 150px;
    border-radius: 15px;
    border-bottom: 4px solid var(--corTxt2);
    background: var(--corFundo2);
    color: var(--corTxt2);
    &:hover{
        background: var(--corTxt2);
        color: var(--corTxt);
        border-color: var(--destaque);
        box-shadow: var(--sombra);
    }
}

form{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    background: var(--corFundo2);
    border-radius: 15px;
    color: var(--corTxt2);
    box-shadow: var(--sombra);
    padding: 15px;
}

form fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: none;
    gap: 15px;
    font-weight: bold;
}

form fieldset legend{
    font-size: 20px;
    width: 90%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-bottom: 2px solid var(--destaque);
}

.caixa-input{
    display: grid;
    grid-template-columns: 100px 1fr;
    width: 100%;    
    border: none;
    align-items: center;
    padding: 15px;
}


.caixa-input input, .caixa-input select{
    border: none;
    border-bottom: 2px solid var(--corFundo);
    padding: 10px;
    border-radius: 7px;
    background: none;
    font-size: 15px;
    &::placeholder{
        color: #999999dd;
    }
    &:focus{
        /* box-shadow: 0px 1px 5px 3px rgba(25,25,25,0.5); */
        box-shadow: var(--sombra2);
        border-color: var(--destaque);
    }
}

.sucesso{
    width: 100%;
    background: var(--sucesso);
    padding: 15px;
    text-align: center;
    color: var(--corTxt);
    border-radius: 15px 15px 0px 0px;
}

.erro{
    width: 100%;
    background: var(--erro);
    padding: 15px;
    color: var(--corTxt);
    text-align: center;
    border-radius: 15px 15px 0px 0px;
}

.tabela-aqui{
    width: 60%;
    max-height: 350px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: auto;
    box-shadow: var(--sombra2);
    border-radius: 15px;
}

table{
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

table thead th{
    padding: 15px;
    background: var(--destaque);
    color: var(--corTxt);
}

table tbody tr td{
    padding: 15px;
}

table tbody tr:hover{
    background-color: var(--destaqueTab);
}

button{
    width: 100px;
    height: 35px;
    font-weight: bold;
    background: var(--destaque);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: var(--corTxt);
    &:hover{
        box-shadow: var(--sombra2);
        background: var(--destaque2);
    }
}

.modalzinha-fundo{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background: rgba(116, 116, 116, 0.7)
}

#botao_fechar{
    width: 25px;
    height: 25px;
    background: var(--erro);
}

.atrasado{
    padding: 5px;
    color: var(--corTxt);
    background: var(--erro);
    border-radius: 5px;
    font-weight: bold;
}

.ok{
    padding: 5px;
    color: var(--corTxt);
    background: var(--sucesso);
    border-radius: 5px;
    font-weight: bold;
}